[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "thirdparty/bullet"]
	path = thirdparty/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "thirdparty/recastnavigation"]
	path = thirdparty/recastnavigation
	url = git@github.com:tobscher/recastnavigation.git
