[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "thirdparty/bullet"]
	path = thirdparty/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "thirdparty/log4cxx"]
	path = thirdparty/log4cxx
	url = git@github.com:apache/log4cxx.git
[submodule "thirdparty/apr"]
	path = thirdparty/apr
	url = git@github.com:apache/apr.git
[submodule "thirdparty/apr-util"]
	path = thirdparty/apr-util
	url = git@github.com:apache/apr-util.git
